@if (node?.colors) {
  <div class="colors-panel">
    <div #background class="background"></div>

    <div class="panel">
      <input
        readonly
        (colorPickerChange)="colorPickerChange('backgroundColor', $event)"
        (cpToggleChange)="
          colorPickerToggleChange($event, 'backgroundColor', colors.background)
        "
        [(colorPicker)]="colors.background"
        [cpPositionOffset]="'-500%'"
        [cpPresetColors]="options.presetColors"
        [cpPresetLabel]="''"
        [cpDisableInput]="true"
        [cpWidth]="options.width"
        [style.background]="colors.background"
        [title]="'TOOLTIPS.NODE_COLOR' | translate"
        class="background-color"
        cpPosition="left"
        [disabled]="editDisabled" />
      <input
        readonly
        (colorPickerChange)="colorPickerChange('nameColor', $event)"
        (cpToggleChange)="
          colorPickerToggleChange($event, 'nameColor', colors.name)
        "
        [(colorPicker)]="colors.name"
        [cpPositionOffset]="'-500%'"
        [cpPresetColors]="options.presetColors"
        [cpPresetLabel]="''"
        [cpDisableInput]="true"
        [cpWidth]="options.width"
        [style.background]="colors.name"
        [title]="'TOOLTIPS.TEXT_COLOR' | translate"
        class="text-color"
        cpPosition="left"
        [disabled]="editDisabled" />
      @if (colors.branch) {
        <input
          readonly
          (colorPickerChange)="colorPickerChange('branchColor', $event)"
          (cpToggleChange)="
            colorPickerToggleChange($event, 'branchColor', colors.branch)
          "
          [(colorPicker)]="colors.branch"
          [cpPositionOffset]="'-500%'"
          [cpPresetColors]="options.presetColors"
          [cpPresetLabel]="''"
          [cpDisableInput]="true"
          [cpWidth]="options.width"
          [style.background]="colors.branch"
          [title]="'TOOLTIPS.BRANCH_COLOR' | translate"
          class="branch-color"
          cpPosition="left"
          [disabled]="editDisabled" />
      }
    </div>
  </div>
}
