.dockerignore
.editorconfig
.env*
.git
.github
.gitignore
.prettier*
.vscode
ca/*.crt
ca/*.key
ca/*.pem
ca/*.req
docker-compose*
Dockerfile*
LICENSE
mindmapper-backend/client-build
mindmapper-backend/dist
mindmapper-backend/LICENSE
mindmapper-backend/node_modules
mindmapper-backend/npm-debug.log
mindmapper-backend/README.md
mindmapper-frontend/dist
mindmapper-frontend/LICENSE
mindmapper-frontend/node_modules
mindmapper-frontend/npm-debug.log
mindmapper-frontend/README.md
README.md