.my-1 {
  margin: 1em 0 1em 0;
}

.text-sm {
  font-size: small;
}

.image-wrapper {
  background-color: var(--color-picto-bg);
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-picto-hover);
  }
}
