#qr-code-canvas {
  display: flex;
  justify-content: center;

  svg,
  canvas {
    padding: 12px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid var(--color-border);
  }
}

mat-form-field {
  width: 100%;
}

.divider-margin {
  margin: 20px 0 20px 0;
}

.hidden {
  display: none;
}

:host
  ::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: var(--color-primary);
}

:host ::ng-deep .mat-slide-toggle.mat-disabled .mat-slide-toggle-bar {
  background-color: var(--color-primary);
}
