<div class="teammapper-application">
  <teammapper-colors-panel
    [node]="node | async"
    [editDisabled]="(editDisabled | async) ?? true"></teammapper-colors-panel>
  <teammapper-client-colors-panel></teammapper-client-colors-panel>
  <teammapper-sliders-panel
    [node]="node | async"
    [editDisabled]="(editDisabled | async) ?? true"></teammapper-sliders-panel>
  <teammapper-floating-buttons
    [editDisabled]="
      (editDisabled | async) ?? true
    "></teammapper-floating-buttons>

  <teammapper-toolbar
    [node]="node | async"
    [editDisabled]="(editDisabled | async) ?? true"></teammapper-toolbar>

  <teammapper-map></teammapper-map>
</div>
