<div class="about">
  <teammapper-header></teammapper-header>
  <teammapper-jumbotron></teammapper-jumbotron>

  <section class="about-section" id="section-0">
    <div class="container">
      <h1>
        <fa-icon [icon]="faBrain" mat-card-avatar size="1x"></fa-icon>
        &nbsp;&nbsp;{{ 'PAGES.ABOUT.SECTIONS.0.TITLE' | translate }}
      </h1>
      <p>{{ 'PAGES.ABOUT.SECTIONS.0.SUBTITLE' | translate }}</p>
      <div class="cards">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{ 'PAGES.ABOUT.SECTIONS.0.CARDS.0.TITLE' | translate }}
            </mat-card-title>
          </mat-card-header>
          <img
            alt="Solar system"
            mat-card-image
            src="./assets/images/solar-system.png" />
          <mat-card-content>
            <p>
              {{ 'PAGES.ABOUT.SECTIONS.0.CARDS.0.CONTENT' | translate }}
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{ 'PAGES.ABOUT.SECTIONS.0.CARDS.1.TITLE' | translate }}
            </mat-card-title>
          </mat-card-header>
          <img
            alt="Radial tree"
            mat-card-image
            src="./assets/images/radial-tree.png" />
          <mat-card-content>
            <p>
              {{ 'PAGES.ABOUT.SECTIONS.0.CARDS.1.CONTENT' | translate }}
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{ 'PAGES.ABOUT.SECTIONS.0.CARDS.2.TITLE' | translate }}
            </mat-card-title>
          </mat-card-header>
          <img
            alt="Business plan"
            mat-card-image
            src="./assets/images/business-plan.png" />
          <mat-card-content>
            <p>
              {{ 'PAGES.ABOUT.SECTIONS.0.CARDS.2.CONTENT' | translate }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>

  <teammapper-footer></teammapper-footer>
</div>
