<section class="jumbotron">
  <div class="m-2">
    <h1>
      <img src="./assets/icons/teammapper.svg" alt="Teammapper Logo" /><br />
      TeamMapper
    </h1>
    <div>
      <p>
        {{ 'PAGES.ABOUT.INTRODUCTION.APPLICATION_DESCRIPTION' | translate }}
      </p>
      <br />
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>check</mat-icon>
          <div matListItemTitle class="white-list">
            {{ 'PAGES.ABOUT.INTRODUCTION.APPLICATION_PROPERTIES.0' | translate }}
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>check</mat-icon>
          <div matListItemTitle class="white-list">
            {{ 'PAGES.ABOUT.INTRODUCTION.APPLICATION_PROPERTIES.1' | translate }}
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>check</mat-icon>
          <div matListItemTitle class="white-list">
            {{ 'PAGES.ABOUT.INTRODUCTION.APPLICATION_PROPERTIES.2' | translate }}
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>check</mat-icon>
          <div matListItemTitle class="white-list">
            {{ 'PAGES.ABOUT.INTRODUCTION.APPLICATION_PROPERTIES.3' | translate }}
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>check</mat-icon>
          <div matListItemTitle class="white-list">
            {{ 'PAGES.ABOUT.INTRODUCTION.APPLICATION_PROPERTIES.4' | translate }}
          </div>
        </mat-list-item>
      </mat-list>
    </div>

    <button mat-flat-button color="accent" routerLink="map">
      {{ 'GENERAL.CREATE' | translate }}
    </button>
  </div>
  <div>
    <img src="./assets/images/screens.png" alt="Screens" />
  </div>
</section>
