@use '@angular/material' as mat;
@use 'src/theme.scss';

.m-2 {
  margin: 2rem;
}

section.jumbotron {
  background-color: mat.m2-get-color-from-palette(theme.$app-primary);
  padding: 100px 0 40px 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h1,
  h4,
  p {
    color: whitesmoke;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    line-height: 150%;
    overflow-wrap: break-word !important;
  }

  > div {
    padding: 20px 0;

    > div {
      padding-bottom: 20px;

      > p {
        margin: 0;
      }

      > mat-list {
        text-align: left;
        margin-bottom: 10px;
        max-width: 100%;

        .mdc-list-item {
          height: auto;
        }

        mat-icon {
          color: #74c13f;
        }
      }
    }

    > h1 {
      font-family: Fira Sans;
      margin: 0 0 24px;
      font-size: 42px;
      font-weight: 400;
      line-height: 54px;

      > img {
        width: 150px;
      }
    }

    > a {
      font-family: Fira Sans;
      width: 170px;
      font-weight: bold;
      color: mat.m2-get-color-from-palette(theme.$app-primary);
      margin-bottom: 10px;
    }

    > img {
      max-width: 400px;
      width: 100%;
    }
  }

  .alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
    font-size: 0.7em;
  }

  .white-list {
    font-family: Fira Sans;
    color: white;
  }
}
