

.container-small {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    width    : 500px;
    max-width: 90%;
}

.container-small p {
    text-align: center;
}

.mindmapp-logo {
    width    : 100%;
    max-width: 300px;
    margin   : 0 auto 35px auto;
    display  : block;
}

.button-accent {
    width        : 100%;
    font-size    : 20px;
    line-height  : 1.8;
    color        : #fff;
    background   : #00a3d3;
    border-radius: 3px;
    padding      : 8px 20px;
    max-width    : 300px;
    margin       : 0 auto;
    display      : block;
}

.kits_footer {
    font-family  : Arial, Helvetica, sans-serif;
    border-radius: 4px;
    width        : 300px;
    max-width    : 100%;
    margin       : 100px auto 30px auto;
    padding      : 20px;
    border-left  : 4px solid #00a3d3;
    box-sizing   : border-box;
    box-shadow   : 0 0.25rem 0.5rem rgba(0, 0, 0, .1);
}

.kits_footer #kits_footer_logo {
    position     : relative;
    left         : calc(50% + 10px);
    transform    : translateX(-50%);
    width        : 90px;
    height       : auto;
    margin-bottom: 5px;
}

.kits_footer_links {
    padding   : 0;
    text-align: center;
    margin    : 0;
}

.kits_footer_links li {
    display: inline-block;
    padding: 5px;
}

.kits_footer_links a {
    color          : #000;
    font-size      : 12px;
    text-decoration: none;
}

.kits_footer_links a:hover {
    text-decoration: underline;
}

.gitlab_link {
    text-align: center;
    font-size : 12px;
    margin-top: 5px;

    a {
        color          : #999;
        text-decoration: none;
        transition     : color .3s ease;
    }
}

#kits_gitlab_link {
    display     : inline-block;
    width       : auto;
    height      : 20px;
    position    : relative;
    top         : 5px;
    margin-right: 3px;
    color       : #999;
}

@media (max-width: 480px) {
    .container-small {
        position : relative;
        top      : 0;
        left     : 0;
        transform: none;
        width    : 80%;
        max-width: 80%;
        margin   : 20px 10%;
        padding-bottom : 10px;
    }
    .kits_footer {
        margin: 50px auto 30px auto;
    }
}