<div class="sliders-panel">
  @if (node?.font && mapOptions) {
    <mat-slider
      [title]="'TOOLTIPS.TEXT_SIZE' | translate"
      [disabled]="editDisabled"
      class="font-size slider-vertical"
      color="primary"
      [max]="mapOptions.fontMaxSize"
      [min]="mapOptions.fontMinSize"
      [step]="mapOptions.fontIncrement"
      discrete
      showTickMarks>
      <input
        matSliderThumb
        (input)="updateNodeFontSize($event)"
        [(ngModel)]="fontSize"
        #textSlider />
    </mat-slider>
  }
  @if (node?.image && node?.image?.src) {
    <mat-slider
      [title]="'TOOLTIPS.IMAGE_SIZE' | translate"
      [disabled]="editDisabled"
      class="image-size slider-vertical"
      color="primary"
      max="350"
      min="50"
      discrete
      showTickMarks>
      <input
        matSliderThumb
        (input)="updateNodeImageSize($event)"
        [(ngModel)]="imageSize"
        #imageSlider />
    </mat-slider>
  }
</div>
