@import "~src/colors.scss";

.about-modal-section {
    max-width: 500px;
    hyphens: auto;
    img {
        padding-right: 2rem;
        margin-bottom: 2rem;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }


    a {
        text-decoration: none;
        color: $font-grey;
    }
}

.mat-list-item {
    font-family: 'Fira Sans';
}