<h4>Letzte Mindmaps</h4>
<ng-container *ngIf="cachedAdminMapEntries.length > 0; else noMindmaps">
  <mat-list>
    <ng-container *ngFor="let cachedMapEntry of cachedAdminMapEntries">
      <mat-list-item class="item-startpage" *ngIf="cachedMapEntry.cachedAdminMapValue.createdAt">
        <a href="{{ getMapUrl(cachedMapEntry) }}">{{
          getMapTitle(cachedMapEntry)
          }}
          vom
          {{ cachedMapEntry.cachedAdminMapValue.createdAt | date : 'dd.MM.YYYY' }}
          um
          {{ cachedMapEntry.cachedAdminMapValue.createdAt | date : 'HH:mm' }}
          Uhr
        </a>
      </mat-list-item>
    </ng-container>
  </mat-list>
</ng-container>

<ng-template #noMindmaps>
  <mat-list>
    -
  </mat-list>
</ng-template>