@import 'src/colors.scss';

.container {
  padding: 12px;
  margin: auto;
  width: 90%;
  padding-bottom: 112px !important;
}

a {
  text-decoration: none;
}

.muted {
  color: #6c757d !important;
}

.min-vh-100 {
  min-height: 100vh;
}

.kits-primary-button {
  background-color: $primary !important;
  font-family: FiraSans !important;
  font-size: large;
  box-shadow: none !important;
  letter-spacing: normal;

  &:hover {
    background-color: $primary-hover;
  }
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.3em;
}

.center {
  justify-content: center;
  background-color: transparent !important;
}

// we don't want the footer logo to grow too big, otherwise the footer becomes too high:
.kits-mobile-footer-wrapper {
  height: 112px !important;
  padding: 0 !important;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 574px), screen and (max-height: 500px) {
  // for very small display widhts we need to reduce the font size for the footer:
  .kits-mobile-footer-wrapper {
    height: 55px !important;
    padding: 0 !important;
  }

  .kits-footer-logo {
    padding: 10px 20px 10px 20px;
    width: 40px !important;
    height: 40px !important;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.kits-footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.kits-footer-logo {
  padding: 10px 10px 10px 20px;
  width: 80px;
  height: 80px;
  text-align: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.kits-footer-text {
  align-items: center;
  padding: 15px 15px 15px 15px;
  font-family: FiraSans;
  font-size: 16px !important;
  justify-content: right;
  width: 100%;
  text-align: right;
}

.kits-footer-text-right {
  @extend .kits-footer-text;
  text-align: center;
}

.list-border {
  border-left: 3px solid $secondary;
  padding: 0;
}

.gradient {
  background-image: linear-gradient(
    180deg,
    rgb(0, 69, 111) 0%,
    rgb(0, 163, 211) 100%
  ) !important;
}

.padding-8 {
  padding: 8px;
}

.font-white {
  color: #ffffff;
  text-decoration: none;
}

.font-grey {
  color: $font-grey !important;
  text-decoration: none;
}

.header {
  background-color: transparent !important;
  height: 70px !important;
  text-align: right;
  a {
    margin-left: auto;
    margin-top: 16px;
  }
}

.font-sm {
  font-size: 0.75rem !important;
}

.kits-list .mat-list-item {
  height: 35px;
  font-family: FiraSans !important;
}

.kits-font {
  font-family: FiraSans !important;
}

.fw-bold {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 700 !important;
  color: $primary;
}
