<mat-grid-list rowHeight="fit" class="min-vh-100" [cols]="breakpoint" (window:resize)="onResize($event)">
  <mat-grid-tile class="gradient" *ngIf="breakpoint === 2">
    <img src="/assets/images/teammapper-logo.png" class="img-fluid d-block" alt="TeamMapper Logo" />
    <mat-grid-tile-footer class="center margin-bottom-10">
      <div class="kits-left-footer-text">
        <a href="https://github.com/kitsteam/teammapper"
          ><img src="/assets/images/github-logo.svg" class="img-fluid d-block" alt="GitHub Logo"
        /></a>

        <a class="padding-8 font-white" href="https://github.com/kitsteam/teammapper"
          >TeamMapper</a
        >
        <a class="padding-8 font-white" href="https://kits.blog/impressum/">Impressum</a>
        <a class="padding-8 font-white" href="https://kits.blog/datenschutzerklaerung/"
          >Datenschutz</a
        >
      </div>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header class="header">
      <a href="https://kits.blog/tools/"
                ><img src="/assets/images/kits-logo.svg"  alt="Kits Logo"
              /></a>
    </mat-grid-tile-header>
    <div>
      <h1 class="fw-bold">TeamMapper</h1>

      <mat-list class="list-border kits-list">
        <mat-list-item>Erstelle Mindmaps gemeinsam mit anderen!</mat-list-item>
        <mat-list-item>Gestalte deine Mindmap mit Farben!</mat-list-item>
        <mat-list-item>Ergänze Bilder!</mat-list-item>
        </mat-list>
        <br />

      <a href="/map">
        <button mat-raised-button color="primary" class="kits-primary-button">Mindmap erstellen</button>
      </a>
    </div>
    <mat-grid-tile-footer class="center font-grey font-sm ">
      <div>
        Dieses Tool darf nur in Lehr-Lern-Kontexten genutzt werden. Die Eingabe personenbezogener Daten ist nicht gestattet.
      </div>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile class="gradient" *ngIf="breakpoint === 1">
    <img src="/assets/images/teammapper-logo.png" class="img-fluid d-block" alt="TeamMapper Logo" />
    <mat-grid-tile-footer class="center">
      <div class="kits-left-footer-text">
        <a href="https://github.com/kitsteam/teammapper"
          ><img src="/assets/images/github-logo.svg" class="img-fluid d-block" alt="GitHub Logo"
        /></a>

        <a class="padding-8 font-white" href="https://github.com/kitsteam/teammapper"
          >TeamMapper</a
        >
        <a class="padding-8 font-white" href="https://kits.blog/impressum/">Impressum</a>
        <a class="padding-8 font-white" href="https://kits.blog/datenschutzerklaerung/"
          >Datenschutz</a
        >
      </div>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>