<mat-grid-list
  rowHeight="fit"
  [ngStyle]="{ 'min-height': height + 'px' }"
  [cols]="breakpoint"
  (window:resize)="onResize($event)"
  *ngIf="breakpoint === 2">
  <mat-grid-tile class="gradient">
    <img
      src="/assets/images/teammapper-logo.svg"
      class="img-fluid d-block"
      alt="TeamMapper Logo" />
    <mat-grid-tile-footer class="center">
      <div class="kits-footer-text-right">
        <a
          class="padding-8 font-white"
          href="https://github.com/kitsteam/teammapper"
          >GitHub</a
        >
        <a class="padding-8 font-white" href="https://kits.blog/impressum/"
          >Impressum</a
        >
        <a
          class="padding-8 font-white"
          href="https://kits.blog/datenschutzerklaerung/"
          >Datenschutz</a
        >
      </div>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header class="header">
      <a href="https://kits.blog/tools/"
        ><img src="/assets/images/kits-logo.svg" alt="Kits Logo"
      /></a>
    </mat-grid-tile-header>
    <div class="container">
      <a href="/"><h1 class="fw-bold">TeamMapper</h1></a>

      <mat-list class="list-border kits-list">
        <mat-list-item><span class="kits-font">Erstelle Mindmaps im Team!</span></mat-list-item>
        <mat-list-item><span class="kits-font">Gestalte deine Mindmap mit Farben!</span></mat-list-item>
        <mat-list-item><span class="kits-font">Ergänze Bilder!</span></mat-list-item>
      </mat-list>
      <br />

      <a href="/map">
        <button mat-raised-button color="primary" class="kits-primary-button">
          Mindmap erstellen
        </button>
      </a>
      <div style="margin-top: 10px">
        <small class="muted">
          Dieses Tool darf nur in Bildungskontexten genutzt werden. Die Eingabe
          personenbezogener Daten ist zu vermeiden.
          <br /><br />
          Achtung: Mindmaps werden 13 Monate nach der letzten Bearbeitung gelöscht.
        </small>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="breakpoint === 1" (window:resize)="onResize($event)">
  <div class="container">
    <div class="header">
      <a href="https://kits.blog/tools/"
        ><img src="/assets/images/kits-logo.svg" alt="Kits Logo"
      /></a>
    </div>
    <a href="/"><h1 class="fw-bold">TeamMapper</h1></a>

    <mat-list class="list-border kits-list">
      <mat-list-item><span class="kits-font">Erstelle Mindmaps im Team!</span></mat-list-item>
      <mat-list-item><span class="kits-font">Gestalte deine Mindmap mit Farben!</span></mat-list-item>
      <mat-list-item><span class="kits-font">Ergänze Bilder!</span></mat-list-item>
    </mat-list>
    <br />

    <a href="/map">
      <button mat-raised-button color="primary" class="kits-primary-button">
        Mindmap erstellen
      </button>
    </a>
    <div style="margin-top: 10px">
      <small class="muted">
        Dieses Tool darf nur in Bildungskontexten genutzt werden. Die Eingabe
        personenbezogener Daten ist zu vermeiden.
        <br /><br />
        Achtung: Mindmaps werden 13 Monate nach der letzten Bearbeitung gelöscht.
      </small>
    </div>
  </div>
  <div class="center font-grey font-sm kits-mobile-footer-wrapper">
    <div class="gradient kits-footer-container">
      <div class="kits-footer-logo">
        <img src="/assets/images/teammapper-logo.svg" alt="TeamMapper Logo" />
      </div>
      <div class="kits-footer-text">
        <a
          class="padding-8 font-white"
          href="https://github.com/kitsteam/teammapper"
          >GitHub</a
        >
        <a class="padding-8 font-white" href="https://kits.blog/impressum/"
          >Impressum</a
        >
        <a
          class="padding-8 font-white"
          href="https://kits.blog/datenschutzerklaerung/"
          >Datenschutz</a
        >
      </div>
    </div>
  </div>
</div>
