<mat-toolbar>
  <button
    [title]="'TOOLTIPS.NEW_MAP' | translate"
    color="accent"
    (click)="newMap()"
    mat-icon-button>
    <mat-icon>note_add</mat-icon>
  </button>
  <label
    for="json-upload"
    [ngClass]="{ 'mat-button-disabled': editDisabled }"
    class="label-file-upload mat-icon-button mat-primary mat-focus-indicator"
    [title]="'TOOLTIPS.IMPORT_MAP' | translate">
    <mat-icon>publish</mat-icon>
  </label>
  <input
    id="json-upload"
    type="file"
    (input)="initJSONUpload($event)"
    accept="application/json"
    [disabled]="editDisabled" />

  <button
    [matMenuTriggerFor]="export_map"
    [title]="'TOOLTIPS.EXPORT_MAP' | translate"
    color="primary"
    mat-icon-button>
    <mat-icon>get_app</mat-icon>
  </button>
  <button
    (click)="share()"
    [title]="'TOOLTIPS.SHARE' | translate"
    color="primary"
    mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
  <mat-menu #export_map="matMenu">
    <button (click)="exportMap('json')" mat-menu-item>
      <mat-icon>insert_drive_file</mat-icon>
      <span>{{ 'GENERAL.JSON' | translate }}</span>
    </button>
    <button (click)="exportMap('svg')" mat-menu-item>
      <mat-icon>image</mat-icon>
      <span>{{ 'GENERAL.SVG' | translate }}</span>
    </button>
    <button (click)="exportMap('png')" mat-menu-item>
      <mat-icon>image</mat-icon>
      <span>{{ 'GENERAL.PNG' | translate }}</span>
    </button>
    <button (click)="exportMap('jpeg')" mat-menu-item>
      <mat-icon>image</mat-icon>
      <span>{{ 'GENERAL.JPG' | translate }}</span>
    </button>
    <button (click)="exportMap('pdf')" mat-menu-item>
      <mat-icon>picture_as_pdf</mat-icon>
      <span>{{ 'GENERAL.PDF' | translate }}</span>
    </button>
  </mat-menu>

  <div class="vertical-line">
    <div></div>
  </div>

  <button
    (click)="addDetachedNode()"
    [title]="'TOOLTIPS.ADD_DETACHED_NODE' | translate"
    [disabled]="editDisabled"
    color="primary"
    mat-icon-button>
    <mat-icon>add_comment</mat-icon>
  </button>
  <button
    (click)="mmpService.copyNode()"
    [title]="'TOOLTIPS.COPY_NODE' | translate"
    [disabled]="editDisabled"
    color="primary"
    mat-icon-button>
    <mat-icon>content_copy</mat-icon>
  </button>
  <button
    (click)="mmpService.cutNode()"
    [title]="'TOOLTIPS.CUT_NODE' | translate"
    [disabled]="editDisabled"
    color="primary"
    mat-icon-button>
    <mat-icon>content_cut</mat-icon>
  </button>
  <button
    (click)="mmpService.pasteNode()"
    [title]="'TOOLTIPS.PASTE_NODE' | translate"
    [disabled]="editDisabled"
    color="primary"
    mat-icon-button>
    <mat-icon>content_paste</mat-icon>
  </button>

  <div class="vertical-line">
    <div></div>
  </div>

  <button
    (click)="mmpService.undo()"
    [title]="'TOOLTIPS.UNDO_MAP' | translate"
    [disabled]="editDisabled"
    color="primary"
    mat-icon-button>
    <mat-icon>undo</mat-icon>
  </button>

  <button
    (click)="mmpService.redo()"
    [title]="'TOOLTIPS.REDO_MAP' | translate"
    [disabled]="editDisabled"
    color="primary"
    mat-icon-button>
    <mat-icon>redo</mat-icon>
  </button>

  <div class="vertical-line">
    <div></div>
  </div>

  <button
    (click)="mmpService.updateNode('locked')"
    [title]="'TOOLTIPS.COUPLE_NODE' | translate"
    [disabled]="editDisabled"
    color="primary"
    mat-icon-button>
    <mat-icon>{{ node?.locked ? 'deselect' : 'select_all' }}</mat-icon>
  </button>

  <div *ngIf="node?.image?.src; then renderRemove; else renderInput"></div>
  <ng-template #renderRemove>
    <button
      (click)="mmpService.removeNodeImage()"
      [title]="'TOOLTIPS.NODE_IMAGE' | translate"
      [disabled]="editDisabled"
      color="primary"
      mat-icon-button>
      <mat-icon>broken_image</mat-icon>
    </button>
  </ng-template>
  <ng-template #renderInput>
    <label
      for="image-upload"
      [ngClass]="{ 'mat-button-disabled': editDisabled }"
      class="label-file-upload mat-icon-button mat-primary mat-focus-indicator"
      [title]="'TOOLTIPS.NODE_IMAGE' | translate">
      <mat-icon>image</mat-icon>
    </label>
    <input
      id="image-upload"
      type="file"
      (input)="initImageUpload($event)"
      accept="image/*"
      [disabled]="editDisabled" />
  </ng-template>
  <div *ngIf="featureFlagPictograms">
    <button
      (click)="pictogram()"
      [title]="'TOOLTIPS.PICTOGRAM' | translate"
      color="primary"
      mat-icon-button>
      <mat-icon>nature_people</mat-icon>
    </button>
  </div>

  <div class="vertical-line">
    <div></div>
  </div>

  <button
    (click)="toogleNodeFontWeight()"
    [title]="'TOOLTIPS.BOLD_TEXT' | translate"
    [disabled]="editDisabled"
    color="primary"
    mat-icon-button>
    <mat-icon>format_bold</mat-icon>
  </button>
  <button
    (click)="toogleNodeFontStyle()"
    [title]="'TOOLTIPS.ITALIC_TEXT' | translate"
    [disabled]="editDisabled"
    color="primary"
    mat-icon-button>
    <mat-icon>format_italic</mat-icon>
  </button>

  <div
    *ngIf="node?.link?.href; then renderLinkRemove; else renderLinkInput"></div>
  <ng-template #renderLinkRemove>
    <button
      (click)="removeLink()"
      [title]="'TOOLTIPS.LINK_REMOVE' | translate"
      [disabled]="editDisabled"
      color="primary"
      mat-icon-button>
      <mat-icon>link_off</mat-icon>
    </button>
  </ng-template>
  <ng-template #renderLinkInput>
    <button
      (click)="addLink()"
      [title]="'TOOLTIPS.LINK_ADD' | translate"
      [disabled]="editDisabled"
      color="primary"
      mat-icon-button>
      <mat-icon>insert_link</mat-icon>
    </button>
  </ng-template>

  <span class="toolbar-spacer"></span>

  <button color="primary" mat-icon-button routerLink="/app/shortcuts">
    <mat-icon>shortcuts</mat-icon>
  </button>

  <button color="primary" mat-icon-button routerLink="/app/settings">
    <mat-icon>settings</mat-icon>
  </button>

  <button color="primary" (click)="openAbout()" mat-icon-button>
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>
