ul.shortcut-list {
  list-style: none;
  margin: 0;
  padding: 0;
  columns: 2;
  column-gap: 2rem;

  // Material's small breakpoint starts at 600px.
  @media (max-width: 599.98px) {
    columns: 1;
  }

  li.shortcut {
    display: flex;
    align-items: center;
    break-inside: avoid;
    padding: 8px 0;
    color: var(--color-text-primary);
  }

  .keys {
    white-space: nowrap;
  }

  .key {
    padding: 4px 10px;
    background: var(--color-bg-key);
    border-radius: 3px;
    font-size: 15px;
  }

  .description {
    padding-left: 10px;
  }
}
