<div class="shortcuts">
  <mat-toolbar>
    <div class="container">
      <h2 mat-dialog-title>{{ 'PAGES.SHORTCUTS.TITLE' | translate }}</h2>
      <button
        class="close-button"
        color="primary"
        mat-icon-button
        (click)="back()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="content container">
    <mat-list>
      @for (
        shortcut of shortcuts.slice(0, shortcuts.length / 2);
        track shortcut.description
      ) {
        <mat-list-item>
          @for (key of shortcut.keys; track key; let last = $last) {
            <span>
              <span class="key">{{ key }}</span>
              @if (!last) {
                <span>&nbsp;+&nbsp;</span>
              }
            </span>
          }
          <span class="description">
            {{ shortcut.description | translate }}
          </span>
        </mat-list-item>
      }
    </mat-list>
    <mat-list>
      @for (
        shortcut of shortcuts.slice(shortcuts.length / 2);
        track shortcut.description
      ) {
        <mat-list-item>
          @for (key of shortcut.keys; track key; let last = $last) {
            <span>
              <span class="key">{{ key }}</span>
              @if (!last) {
                <span>&nbsp;+&nbsp;</span>
              }
            </span>
          }
          <span class="description">
            {{ shortcut.description | translate }}
          </span>
        </mat-list-item>
      }
    </mat-list>
  </div>
</div>
