@import 'src/colors.scss';

.about-modal-section {
  max-width: 500px;
  hyphens: auto;
  float: left;

  a {
    text-decoration: none;
    color: $font-grey;
  }
}

.mat-list-item {
  font-family: 'Fira Sans';
}

.about-kits-logo {
  float: right;
}
