.about-modal-section {
  img {
    padding-right: 2rem;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}

.mat-list-item {
  font-family: 'Fira Sans';
}
