<h2 mat-dialog-title>{{ applicationName }} {{ version }}</h2>
<mat-dialog-content>
  <div class="about-modal-section">
    <img src="./assets/icons/teammapper.svg" width="150" alt="Teammapper Logo" />
    {{ 'PAGES.ABOUT.INTRODUCTION.APPLICATION_DESCRIPTION' | translate }}
  </div>
  <br />
  <div class="about-modal-section">
    {{
      'MODALS.INFO.DELETE_AFTER_DAYS'
        | translate : { deleteAfterDays: map.deleteAfterDays }
    }}
    <br />
    {{ 'MODALS.INFO.DELETED_AT' | translate }}
    {{ map.deletedAt | date : 'YYYY-MM-dd' }}<br />

    <br />
    <a
      href="https://github.com/b310-digital/teammapper"
      class="link"
      target="_blank">
      {{ applicationName }}
      <fa-icon [icon]="faGithub" size="lg"></fa-icon>
    </a>
    - 
    <a routerLink="/legal">
      {{ 'GENERAL.LEGAL' | translate }}
    </a>
    - 
    <a routerLink="/privacy">
      {{ 'GENERAL.DATAPROTECTION' | translate }}
    </a>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true">
    {{ 'MODALS.GENERAL.BUTTON_CLOSE' | translate }}
  </button>
  <div *ngIf="mapAdminId | async">
    <button mat-raised-button (click)="deleteMap()" color="warn" class="ml-5">
      {{ 'MODALS.INFO.DELETE' | translate }}
    </button>
  </div>
</mat-dialog-actions>
