@import "~src/colors.scss";

div.floating-buttons {
    .no-touch {
        width: 50px;
        height: 50px;
        z-index: 2;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        touch-action: manipulation;
    }

    .add-node, .remove-node,
    .undo, .redo {
        top: 80px;
    }

    .add-node button, .remove-node button {
        background-color: $secondary;
        color: #FFFFFF;
    }

    .add-node {
        left: 15px;
    }

    .remove-node {
        left: 65px;
    }

    .undo {
        right: 65px;
    }

    .redo {
        right: 15px;
    }

    .zoom-in, .zoom-out, .center {
        right: 15px;
    }

    .zoom-out {
        bottom: 60px;
    }

    .zoom-in {
        bottom: 110px;
    }

    .center {
        bottom: 5px;
    }

}
