.about-modal-section {
    img {
        padding-right: 2rem;
        margin-bottom: 2rem;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    margin-bottom: 2rem;
    white-space: pre-line;
    max-width: 40rem;
}

.border-top {
    border-top: 1px solid lightgray;
}