<div class="legal">
  <teammapper-header></teammapper-header>

  <section class="legal-section" id="section-0">
    <div class="container">
      <h1>
        Legal Disclosure
      </h1>
      <br />
      B310 Digital GmbH<br />
      ℅ FLEET7<br />
      Fleethörn 7<br />
      24103 Kiel<br />
      <br />
      Represented by:<br />
      Jannik Streek<br />
      Gerardo Navarro Suarez<br />
      Nicholas Wittstruck<br />
      <br />
      Register and registration number: <br />
      Amtsgericht Kiel HRB 25198 KI<br />
      <br />
      Umsatzsteuer-ID according to § 27a Umsatzsteuergesetz:<br />
      DE326377073<br />
      Contact Information<br />
      E-Mail: kontakt (at) b310.de<br />
      <br />
      Disclaimer<br />
      Accountability for content<br />
      The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this matter, please note that we are not obliged to monitor the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG). <br />
      <br />
      Accountability for links<br />
      Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.<br />
      <br />
      Copyright<br />
      Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law, every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are only allowed for private use. The materials from these pages are copyrighted and any unauthorized use may violate copyright laws. <br />
    </div>
  </section>

  <teammapper-footer></teammapper-footer>
</div>
