@use '@angular/material' as mat;
@import '@material-design-icons/font';
@import "~src/theme.scss";

@font-face {
    font-family: FiraSans;
    src: url("/assets/font/firasans/FiraSans-Regular.otf") format("opentype");
  }
  
  @font-face {
    font-family: FiraSans;
    font-weight: light;
    src: url("/assets/font/firasans/FiraSans-Light.otf") format("opentype");
  }
  
  @font-face {
    font-family: FiraSans;
    font-weight: bold;
    src: url("/assets/font/firasans/FiraSans-Bold.otf") format("opentype");
  }
  
  // Set bootstrap font:
  $font-family-base: FiraSans;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: $font-family-base, sans;
    font-size: 17px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

::selection {
    color: whitesmoke;
    background: mat.get-color-from-palette($app-primary);
}

*:focus {
    outline: none;
}

// Material override
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: lightgray !important;
}

mat-dialog-content.mat-dialog-content {
    max-height: none;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: FiraSans, sans !important;
}

// Color picker override
div.color-picker {
    border-radius: 2px;
    border: 1px solid #a8a8a8 !important;

    div.box:last-child {
        display: none !important;
    }

    div.arrow {
        top: 170px !important;
    }
}

// Snackbar
snack-bar-container.snackbar {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-bottom: 0;
    color: #555555;

    simple-snack-bar.mat-simple-snackbar {
        font-size: 15px;

        button {
            color: #555555;
        }
    }
}


